<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>相册＋</string>
	<key>CFBundleDisplayName</key>
	<string>相册＋</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>為了此應用更好的工作，應用需要訪問您的相冊，請您允許應用訪問相冊</string>
	<key>NSCameraUsageDescription</key>
	<string>為了此應用更好的工作，應用需要訪問您的相冊，請您允許應用訪問相机</string>
</dict>
</plist>
